body {
  font-family: 'Fredoka One', cursive;
  background-color: black;
}

#main {
  background-image: url("../img/bg/v3.png");
  background-size: cover;
  background-position: center;
  width: 900px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

#blackBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 700px;
  background-color: black;
}

#banner {
  opacity: 0;
  animation-name: blink;
  animation-duration: 5s;
}

#clickBlink {
  width: 150px;
  height: 150px;
  cursor: pointer;
  opacity: 0;
  transition: all .5s;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#clickBlink:hover {
  width: 170px;
  height: 170px;
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#playBtnBox {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 375px;
  width: 900px;
  height:  300px;
  text-align: center;
  vertical-align: middle;
}

#playBtn {
  width: 220px;
  height: 120px;
  cursor: pointer;
  transition: all 1s;
}

#playBtn:hover {
  width: 250px;
  height: 150px;
}

#headBar {
  display: flex;
  position: fixed;
  padding: 10px;
  width: 900px;
  vertical-align: middle;
  z-index: 2;
}

#menuBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 400px;
  height: 300px;
  width: 900px;
  padding: 10px;
}

#coinBox {
  width:  250px;
  height: 60px;
  text-align: right;
  padding-right: 20px;
  background-image: url('../img/optional/coinBox.png');
}



#coin, #score, #bossHp {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  font-size: 39px;
  color: white;
}

#exitBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

#exitBtn:hover {
  width: 80px;
  height: 80px;
}

#menuBtn {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

#menuBtn:hover {
  width: 120px;
  height: 120px;
}

#travelBtn {
  width: 120px;
  height: 120px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

#travelBtn:hover {
  width: 140px;
  height: 140px;
}

#modeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 200px;
  height: 400px;
  width: 900px;
}

#modeBtn {
  height: 340px;
  width: 212.5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

#modeBtn:hover {
  height: 380px;
  width: 252.5px;
}

#topicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  height: 150px;
  width: 900px;
}

#planesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 200px;
  height: 400px;
  width: 900px;
}

#planesBox > * {
  height: 340px;
  width: 212.5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

#planeBtn:hover {
  height: 360px;
  width: 232.5px;
}

#headBarV2 {
  display: flex;
  position: absolute;
  z-index: 10;
  padding: 10px;
  vertical-align: middle;
}

.time {
  float: right;
  left: 500px;
  margin-left: 500px;
}

#bossBox {
  width:  200px;
  height: 100px;
  float: right;
  margin-left: 425px;
  padding-top: 22px;
  padding-right: 40px;
  text-align: right;
  background-image: url('../img/optional/bossBox.png');

}

#bossHp {
  font-size: 43px;
}

#scoreBox {
  width:  250px;
  height: 60px;
  text-align: right;
  padding-right: 20px;
  background-image: url('../img/optional/scoreBox.png');
}

#endSurvive {
  align-items: center;
  z-index: 20;
  margin: auto;
  height: 300px;
  width: 400px;
  padding-top: 100px;
  background-image: url('../img/optional/endSurvive.png');
}


#endCoinsF {
  align-items: center;
  z-index: 20;
  margin: auto;
  height: 300px;
  width: 400px;
  padding-top: 100px;
  background-image: url('../img/optional/endCoinsF.png');
}

#endCoinsP {
  align-items: center;
  z-index: 20;
  margin: auto;
  height: 300px;
  width: 400px;
  padding-top: 100px;
  background-image: url('../img/optional/endCoinsP.png');
}


#end-text-box {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

#end-text-box > img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

#end-btn-box {
  display: block;
  z-index: 30;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

#end-btn {
  height: 60px;
  width: 60px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

#end-btn:hover {
  height: 80px;
  width: 80px;
}

.modal {
  display: none;
  position: absolute; 
  text-align: center;
  z-index: 40; 
  padding-top: 200px; 
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content-buy {
  background-image: url('../img/optional/confirmBuy.png');
  height: 300px;
  width: 400px;
  margin: auto;
  padding-top: 175px;
}

.modal-content-nocoins {
  background-image: url('../img/optional/nocoins.png');
  height: 300px;
  width: 400px;
  margin: auto;
  padding-top: 175px;
}

.modal-footer-game {
  display: flex;
  height: 100px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}


#modalBtn {
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

#modalBtn:hover {
  height: 80px;
  width: 80px;
}

#titleBox {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 400px;
  top: 75px;
}


#title {
  width: 600px;
  height: 300px;
  -webkit-animation-name: sizeTitle;
  -webkit-animation-duration: 5s;
  animation-name: sizeTitle;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@-webkit-keyframes sizeTitle {
  0% {
    width: 600px;
    height: 300px;
  }
 50% {
    width: 630px;
    height: 330px;
  }
  100% {
    width: 600px;
  height: 300px;
  }
}

@keyframes sizeTitle {
  0% {
    width: 600px;
  height: 300px;
  }
  50% {
    width: 630px;
    height: 330px;
  }
  100% {
    width: 600px;
    height: 300px;
  }
}

#footerBox {
  display: flex;
  position: fixed;
  top: 600px;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  height: 100px;
  padding-right: 20px;
}

#resetDataBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s;
}

#resetDataBtn:hover {
  width: 80px;
  height: 80px;
}

#showPlaneBox {
  display: flex;
  position: fixed;
  top: 85px;
  justify-content: center;
  align-items: flex-end;
  width: 900px;
  height: 500px;
}

#cardImg {
  width: 500;
  height: 250;
  -ms-transform: rotate(-12deg); /* IE 9 */
  transform: rotate(-12deg);
}


#charImg {
  z-index: 10;
  margin-left: -50px; 
  width: 250px;
  height: 200;
}

#background-wrap {
  width: 900px;
  height:700px;
	padding-top: 50px;
  position: fixed;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 100%
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 22s linear infinite;
	-moz-animation: animateCloud 22s linear infinite;
	animation: animateCloud 22s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
  transform: scale(0.65);
  opacity: 0.8;
}

.x2 {
	-webkit-animation: animateCloud 14s linear infinite;
	-moz-animation: animateCloud 14s linear infinite;
	animation: animateCloud 14s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.75;
}

.x3 {
	-webkit-animation: animateCloud 26s linear infinite;
	-moz-animation: animateCloud 26s linear infinite;
	animation: animateCloud 26s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.95;
}

.x4 {
	-webkit-animation: animateCloud 12s linear infinite;
	-moz-animation: animateCloud 12s linear infinite;
	animation: animateCloud 12s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.87;
}

.x5 {
	-webkit-animation: animateCloud 21s linear infinite;
	-moz-animation: animateCloud 21s linear infinite;
	animation: animateCloud 21s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
  transform: scale(0.55);
  opacity: 0.75;
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	/* -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1); */

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.modal-content-reset {
  background-image: url('../img/optional/resetData.png');
  height: 300px;
  width: 400px;
  margin: auto;
  padding-top: 175px;
}

#guideBg {
  position: fixed;
  top: 175px;
  margin-left: 150px;
  width: 600px;
  height: 500px;
  background-color: white;
  opacity: 0.7;
  border-radius: 25px;
}

#guideImg {
  position: fixed;
  top: 175px;
  margin-left: 150px;
  z-index: 10;
}

#guideBtnBox {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 11;
  top: 400px;
  width: 900px;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

#guideBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s;
}

#guideBtn:hover {
  width: 80px;
  height: 80px;
}

#highscoreBox {
  display: block;
  position: fixed;
  top: 175px;
  margin-left: 150px;
  z-index: 10;
  width: 600px;
  height: 500px;
  padding: 20px;
  
}

.highscore-item {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
}